<!--The content below is only a placeholder and can be replaced.-->



<ul *appDisplayMovies="showMovies">
  <li appHighlight>The GodFather</li>
  <!--<li [ngStyle]="{backgroundColor: isThisIngredientVital ? 'red' : 'yellow'}">Raclette</li>-->
  <li>The Shawshank Redemption</li>
  <!--<li [ngClass] = "{'vital': isThisIngredientVital}">Gone with the Wind</li>-->
  <li>Gone with the Wind</li>
  <li>Star wars</li>
</ul>
<hr>
<!--<ul *appDisplayGuests="displayGuestList">
  <li>Jean</li>
  <li>Jacques</li>
  <li>Michel</li>
  <li>Remy</li>
</ul>
<hr>
<ul *ngFor="let song of songList">
  <li>{{song}}</li>
</ul>

<h1 appHighlight>Raclette</h1> -->























<router-outlet></router-outlet>
